.placeholderEditor[data-editor="codemirror"] {
  padding-top: 4px;
  padding-left: 44.8px;
  font-size: 16px;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
  line-height: 22.4px;
  white-space: pre;
}

.placeholderEditor[data-editor="monaco"] {
  padding-left: 68px;
  font-size: 14px;
  font-family: "Droid Sans Mono", "monospace", monospace;
  line-height: 19px;
  white-space: pre;
}
