@layer reset, base, tokens, recipes, utilities;

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root,
body,
body>* {
    height: 100%;
    overscroll-behavior-y: none;
}

.entry-content-grid {
    display: grid;
    min-height: 0;
    grid-template-rows: 1fr min-content;
    grid-template-columns: min-content 1fr;
}

.entry-content-grid[data-mode="edit"] {
    grid-template-areas:
        "sidebar editor"
        "sidebar bottom"
    ;
}

@media screen and (min-width: 1080px) {
    .entry-content-grid[data-mode="edit"] {
        grid-template-areas:
            "sidebar editor"
            "sidebar bottom"
        ;
    }
}

.entry-content-grid[data-mode="view"] {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "viewer"
    ;
}

.entry-content-grid[data-mode="view-edit"] {
    grid-template-rows: 1fr 0 1fr min-content;
    grid-template-columns: min-content 1fr min-content 1fr;
    grid-template-areas:
        "sidebar editor editor editor"
        "sidebar divider divider divider"
        "sidebar viewer viewer viewer"
        "sidebar bottom bottom bottom"
    ;
}

@media screen and (min-width: 1080px) {
    .entry-content-grid[data-mode="view-edit"] {
        grid-template-areas:
            "sidebar viewer divider editor"
            "sidebar viewer divider editor"
            "sidebar viewer divider editor"
            "sidebar bottom bottom  bottom"
        ;
    }
}

.entry-content-grid>*[data-grid-area="sidebar"] {
    grid-area: sidebar;
}

.entry-content-grid>*[data-grid-area="viewer"] {
    grid-area: viewer;
}

.entry-content-grid>*[data-grid-area="editor"] {
    grid-area: editor;
}

.entry-content-grid>*[data-grid-area="divider"] {
    grid-area: divider;
}

.entry-content-grid>*[data-grid-area="bottom"] {
    grid-area: bottom;
}
