@layer reset, base, tokens, recipes, utilities;

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root,
body,
body>* {
    height: 100%;
    overscroll-behavior-y: none;
}
