@layer reset, base, tokens, recipes, utilities;

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root,
body,
body>* {
    height: 100%;
    overscroll-behavior-y: none;
}
.cm-html-string * {
    color: #d4d4d4;
}
.cm-tag-name > * {
    color: #569cd6;
}
.cm-attribute-name > * {
    color: #9cdcfe;
}
.cm-attribute-value > * {
    color: #ce9178;
}
.cm-bracket > * {
    color: #808080;
}
.cm-selector > * {
    color: #d7ba7d;
}
.cm-property-name > * {
    color: #9cdcfe;
}
.cm-property-value > * {
    color: #ce9178;
}
.cm-comment > * {
    color: #6a9955;
}
.cm-keyword > * {
    color: #569cd6;
}

:root,
body,
body>* {
    height: 100%;
    overscroll-behavior-y: none;
}
